{% extends "base.html" %}

{% block title %}
  Invoice history
{% endblock title %}

{% block content %}
<div class="container">
    
    
    {% if history %}
        <h3>Change History</h3> <br>
        <table class="table table-hover">
            <thead>
                <th>Field</th>
                <th>Old</th>
                <th>New</th>
                <th>Author</th>
                <th>Date</th>
            </thead>
            <tbody>
                {% for activity in history %}
                    <tr>
                        <td>{{ activity.field }}</td>
                        <td>{{ activity.old }}</td>
                        <td>{{ activity.new }}</td>
                        <td>{{ activity.user }}</td>
                        <td>{{ activity.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

        <h3>Invoice Details</h3><br>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.invoice_number }}" value="{{ invoice.invoice_number }}">
            <label for="floatingPlaintextInput">Invoice Number</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.reference }}" value="{{ invoice.reference }}">
            <label for="floatingPlaintextInput">Reference</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.broker.company }}" value="{{ invoice.broker.company }}">
            <label for="floatingPlaintextInput">Broker</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.pick_up }}" value="{{ invoice.pick_up }}">
            <label for="floatingPlaintextInput">Pick up</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.delivery }}" value="{{ invoice.delivery }}">
            <label for="floatingPlaintextInput">Delivery</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.amount }}" value="{{ invoice.amount }}">
            <label for="floatingPlaintextInput">Amount</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.status.name }}" value="{{ invoice.status.name }}">
            <label for="floatingPlaintextInput">Status</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.comment }}" value="{{ invoice.comment }}">
            <label for="floatingPlaintextInput">Comment</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.last_update }}" value="{{ invoice.last_update }}">
            <label for="floatingPlaintextInput">Last Update</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.invoiced_date }}" value="{{ invoice.invoiced_date }}">
            <label for="floatingPlaintextInput">Invoiced date</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.paid_date }}" value="{{ invoice.paid_date }}">
            <label for="floatingPlaintextInput">Paid date</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.days_since_invoiced }}" value="{{ invoice.days_since_invoiced }}">
            <label for="floatingPlaintextInput">Days</label>
        </div>

</div>
{% endblock content %}