{% extends "base.html" %}

{% block title %}
  Invoice history
{% endblock title %}

{% block content %}
<div class="container">
    
    
    {% if history %}
        <h3>Change History</h3> <br>
        <table class="table table-hover">
            <thead>
                <th>Field</th>
                <th>Old</th>
                <th>New</th>
                <th>Author</th>
                <th>Date</th>
            </thead>
            <tbody>
                {% for activity in history %}
                    <tr>
                        <td>{{ activity.field }}</td>
                        <td>{{ activity.old }}</td>
                        <td>{{ activity.new }}</td>
                        <td>{{ activity.user }}</td>
                        <td>{{ activity.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

        <h3>Invoice Details</h3><br>
<div class="invoice-items">
        <div class="form-floating mb-3">
            <label for="invoice_number"><b>Invoice Number</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.invoice_number }}" value="{{ invoice.invoice_number }}">
        </div>

        <div class="form-floating mb-3">
            <label for="reference"><b>Reference</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.reference }}" value="{{ invoice.reference }}">
        </div>

        <div class="form-floating mb-3">
            <label for="broker"><b>Broker</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.broker.company }}" value="{{ invoice.broker.company }}">
        </div>

        <div class="form-floating mb-3">
            <label for="pick_up"><b>Pick up</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.pick_up }}" value="{{ invoice.pick_up }}">
        </div>

        <div class="form-floating mb-3">
            <label for="delivery"><b>Delivery</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.delivery }}" value="{{ invoice.delivery }}">
        </div>

        <div class="form-floating mb-3">
            <label for="amount"><b>Amount</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.amount }}" value="{{ invoice.amount }}">
        </div>

        <div class="form-floating mb-3">
            <label for="status"><b>Status</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.status.name }}" value="{{ invoice.status.name }}">
        </div>

        <div class="form-floating mb-3">
            <label for="comment"><b>Comment</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.comment }}" value="{{ invoice.comment }}">
        </div>

        <div class="form-floating mb-3">
            <label for="last_update"><b>Last Update</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.last_update }}" value="{{ invoice.last_update }}">
        </div>

        <div class="form-floating mb-3">
            <label for="invoiced_date"><b>Invoiced date</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.invoiced_date }}" value="{{ invoice.invoiced_date }}">
        </div>

        <div class="form-floating mb-3">
            <label for="paid_date"><b>Paid date</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.paid_date }}" value="{{ invoice.paid_date }}">
        </div>

        <div class="form-floating mb-3">
            <label for="days"><b>Days</b></label><br>
            <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="{{ invoice.days_since_invoiced }}" value="{{ invoice.days_since_invoiced }}">
        </div>
</div>

</div>
{% endblock content %}