{% extends "base.html" %}

{% block title %}
  Invoices
{% endblock title %}

{% block content %}
    <div class="container">

        <center>
            <a href="{% url 'invoices:create-invoice' %}">
                <button type="submit" class="btn btn-primary">
                    Add New Invoice
                </button>
            </a>
            
            <!-- <div>
                <input style="height: 155;" type="text" id="searchInput" placeholder="Search...">
            </div> -->
        </center>
            
        <br>

        <table class="table table-hover">
            <thead>
                <th>Invoice</th>
                <th>Reference</th>
                <th>Broker</th>
                <th>Pick Up</th>
                <th>Delivery</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Comment</th>
                <th>Last update</th>
                <th>Days</th>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                <tr>

                    <td>
                        {{ invoice.invoice_number }}
                    </td>
                    <td>
                        {{ invoice.reference }}
                    </td>
                    <td>
                        {{ invoice.broker }}
                    </td>
                    <td>
                        {{ invoice.pick_up}}
                    </td>
                    <td>
                        {{ invoice.delivery }}
                    </td>
                    <td>
                        {{ invoice.amount }}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info">{{ invoice.status }}</button>
                            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{% url 'invoices:edit-status' pk=invoice.pk status='Good to invoice' %}">Good to invoice</a></li>
                              <li><a class="dropdown-item" href="{% url 'invoices:edit-status' pk=invoice.pk status='Invoiced' %}">Invoiced</a></li>
                              <li><a class="dropdown-item" href="{% url 'invoices:edit-status' pk=invoice.pk status='Check mailed' %}">Check mailed</a></li>
                              <li><a class="dropdown-item" href="{% url 'invoices:edit-status' pk=invoice.pk status='Chargeback' %}">Chargeback</a></li>
                              <li><a class="dropdown-item" href="{% url 'invoices:edit-status' pk=invoice.pk status='Shortpay' %}">Shortpay</a></li>
                              <li><a class="dropdown-item" href="{% url 'invoices:edit-status' pk=invoice.pk status='Paid' %}">Paid</a></li>
                              <li><a class="dropdown-item" href="{% url 'invoices:edit-status' pk=invoice.pk status='Missing paperwork' %}">Missing paperwork</a></li>
                            </ul>
                          </div>
                    </td>
                    <td>
                        {{ invoice.comment }}
                    </td>
                    <td>
                        {{ invoice.last_update }}
                    </td>
                    <td>
                        {{ invoice.days_since_invoiced }}
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        
    </div>
{% endblock content %}