.container {
    margin-left: auto;
}

.container.offcanvas-open {
    margin-left: 270px;
    transition: margin-left 0.9s ease ;
}

.offcanvas {
    max-width: 250px;
}


.btn-primary {
    background-color: #8B4513;
    border: 1px #8B4513 solid;
}

.btn-primary btn-lg {
    align-self: left;
}


.btn-primary:hover {
    background-color: #A0522D;
    border: 1px #351B0E solid;
}

.navbar a:hover {
    color: #8B4513!important;
}

body {
    background-color: #f9e9d6;
}

tbody, td, tfoot, th, thead, tr {
    background-color: transparent !important;
}

.bottomnav {
margin-top: 450px;
}

.navopener {
    margin-top: 20px;
    margin-left: 20px;
}


.navbar {
    background-color: transparent !important; 
}


center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.broker_search {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 250px;
    width: 100%;

}

.search_field {
    display:flex;
    max-width: 500px;
}