{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <title>
        {% block title %} Home {% endblock title %}
    </title>
</head>
<body>
    <button class="btn btn-primary navopener" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Menu</button>
    
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel"><b>Menu</b></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-md">
                        <a class="navbar-brand" href="{% url 'invoices:invoices-list' %}">Invoices</a>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-md">
                        <a class="navbar-brand" href="{% url 'brokers:brokers-list' %}">Brokers</a>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-md">
                        <a class="navbar-brand" href="{% url 'brokers:brokers-list' %}">Statistics</a>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-md">
                        <a class="navbar-brand" href="{% url 'brokers:brokers-list' %}">Reports</a>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg bg-body-tertiary bottomnav">
                    <div class="container-md">
                        <a class="navbar-brand" href="{% url 'brokers:brokers-list' %}">Log Out</a>
                    </div>
                </nav>
            </p>
        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var offcanvas = new bootstrap.Offcanvas(document.getElementById('offcanvasScrolling'));

            offcanvas._element.addEventListener('hidden.bs.offcanvas', function() {
                // Add a class when offcanvas is closed
                document.querySelector('.container').classList.remove('offcanvas-open');
            });

            offcanvas._element.addEventListener('shown.bs.offcanvas', function() {
                // Add a class when offcanvas is open
                document.querySelector('.container').classList.add('offcanvas-open');
            });

                // Get the offcanvas element by ID
            var offcanvas = new bootstrap.Offcanvas(document.getElementById('offcanvasScrolling'));

                // Show the offcanvas by default
            offcanvas.show();
            
        });
    </script>
    {% block content %}

    {% endblock content %}
</body>
</html>